footer {
    width: 120em;
    height: 49.18rem;
    background-image: url('../assets/images/bg-contact.png');
    background-size: cover;
    background-position: center;

    padding: 8rem 0 12.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & .info-contacts {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 3rem;

        gap: 0.5rem;

        &>span {
            color: #BB72E9;
        }

        &>h3 {
            font: var(--title-md);
        }
    }

    & .cards-contact {
        display: flex;
        gap: 1rem;
        flex-direction: column;

        & a {
            text-decoration: none;
            background-color: var(--gray-400);
            width: 25rem;
            height: 4.25rem;

            display: flex;
            align-items: center;
            padding: 1.25rem;
            border-radius: 0.5rem;



            & spanx {
                margin-right: auto;
                margin-left: 12px;
            }
        }
    }

}