*::after, *::before, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;
    
    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;

    --title-lg: 700 56px/120%;
    --title-md: 700 24px/120%;
    --title-sm: 700 16px/120%;
    
    --text-md: 16px/140% 400;
    --text-sm: 14px/140% 400;

    --ff-base: "Asap", sans-serif;
    --ff-subtitle: 20px/120% 400 "Inconsolata", monospace;
    --ff-maven: "Maven Pro", sans-serif;




}

html {
    font-family: "Asap", sans-serif;
}